<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%> 
<!-- 第一行 可以導入 views 的 partials 裡面的head.ejs -->


    <%- include('partials/navbar')%> 


    <div class="container">
    <h1>Browsing The <%= name%> subreddit</h1>
    <h2><%=description %></h2>
    <hr>

    <% for(let post of posts){ %>
        <article>
            <p><%= post.title %> -<b></b> <%=post.author %> </p>
            <% if(post.img){%>
                <img src="<%= post.img %>" alt="">
                <% }%>
        </article>
    <%} %>
    </div>
    <%- include('partials/footer')%> 